{% extends "base3.html" %}


{% block title %}
<title>act19 - memory</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/act-css/activities(type-memory-hard).css">
{% endblock %}

{% block gameframe %}
<button class="gameFrame 5" id="5"></button>
<button class="gameFrame 6" id="6"></button>
<button class="gameFrame 7" id="7"></button>
<button class="gameFrame 8" id="8"></button>
<button class="gameFrame 9" id="9"></button>
<button class="gameFrame 10" id="10"></button>
<button class="gameFrame 11" id="11"></button>
<button class="gameFrame 12" id="12"></button>
<button class="gameFrame 13" id="13"></button>
<button class="gameFrame 14" id="14"></button>
<button class="gameFrame 15" id="15"></button>
<button class="gameFrame 16" id="16"></button>
{% endblock %}

{% block js %}
<script src="../../static/act-js/act19.js"></script>
{% endblock %}