{% extends "base3.html" %}


{% block title %}
<title>act11 - memory</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/act-css/activities(type-memory-medium).css">
{% endblock %}

{% block gameframe %}
<button class="gameFrame 5" id="5"></button>
<button class="gameFrame 6" id="6"></button>
<button class="gameFrame 7" id="7"></button>
<button class="gameFrame 8" id="8"></button>
<button class="gameFrame 9" id="9"></button>
{% endblock %}

{% block js %}
<script src="../../static/act-js/act11.js"></script>
{% endblock %}