<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="../../static/act-css/activities.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <section>
            <button class="gameFrame 1" id="1"></button>
            <button class="gameFrame 2" id="2"></button>
            <button class="gameFrame 3" id="3"></button>
            <button class="gameFrame 4" id="4"></button>
            {% block gameframe %}
            {% endblock %}
        </section>
        {% block js %}
        {% endblock %}
    </body>
</html>