<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="../static/styles/register.css">
    </head>
    <body>
        <a href="/" id="back">X</a>
        <h1>Create Account</h1>
        <form method="post" class="activityContainer">
            {{ form.hidden_tag() }}
            <div class="top">
                <div class="inputContainer">
                    {{ form.username(class="input", placeholder=form.username.label.text) }}
                </div>
                <div class="inputContainer">
                    {{ form.password(class="input", placeholder=form.password.label.text) }}
                </div>
                <div class="inputContainer">
                    {{ form.repeat_password(class="input", placeholder="Repeat password") }}
                </div>
                <div class="bottom">
                    {{ form.submit(class="submit") }}
                </div>
            </form>
        </div>
        {% for errors in form.errors.values() %}
        {% for error in errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endfor %}
    </body>
</html>